<div class="row">
  <div class="col-md-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input class="form-control" id="name" #nameInput>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input class="form-control" id="amount" #amountInput>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="submit" class="btn btn-success">Add</button>
          <button type="button" class="btn btn-warning">Delete</button>
          <button type="button" class="btn btn-yellow">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
